{% extends 'base.html' %}

{% block title %}<title>Home</title>{% endblock %}

{% block content %}

{% if zipcode %}

    {{ zipcode }}

{% endif %}

{% if api %}
    {% if api == "Error" %}
        <p>There was an error. Please try again</p>
    {% else %}

        <div class="card text-center">
            <div class="card-header">
                Area: {{ api.0.ReportingArea }}, {{ api.0.StateCode }}
            </div>
            <div class="card-body {{ category_color }}">
            <h5 class="card-title">Current Air Quality: {{ api.0.AQI }}</h5>
            <p class="card-text">{{ api.0.Category.Name }}</p>
            
            <p>{{ category_description }}</p>

            </div>
            <div class="card-footer text-muted">
                Latitude: {{ api.0.Latitude }} <br/>
                Longitude: {{ api.0.Longitude }}
            </div>
        </div>


        
    
    {% endif %}
{% endif %}

{% endblock %}